langgraph
langchain
langchain_google_genai
ipython
langchain_openai
langchain_community
dotenv
typing
chromadb
langchain_chroma
flask
fastapi
uvicorn
pydantic
python-multipart
langchain-core
langchain-text-splitters
pypdf
